#parse("base.html")
#@mainLayout()
<h1 class="title">Order detail</h1>
<div class="container content">
    <h2 class="title is-2">Change the status of the order</h2>
    <ol type="1">
        #foreach ($item in $command.getItems())
            <li>$item.getName()</li>
        #end
    </ol>
    <h2 class="title is-2">Change the status of the order</h2>
    <form method="GET" action="">
        <div class="select">
            <select name="state">
                <option value="new">NEW</option>
                <option value="in_progress">IN PROGRESS</option>
                <option value="processed">PROCESSED</option>
                <option value="aborted">ABORTED</option>
            </select>
        </div>
        <button class="button is-primary" type="submit">Update order</button>
    </form>
</div>
#end
