#parse("base.html")
#@mainLayout()
<h1 class="title">Order detail</h1>
<div class="container content">
    <h2 class="title is-2">Change the status of the order</h2>
    <ol type="1">
        #foreach ($item in $order.getItems())
            <li>$item.getName()</li>
        #end
    </ol>
    <h2 class="title is-2">Change the status of the order</h2>
    <form method="GET" action="">
        <div class="select">
            <select id="select" name="state">
                <option value="NEW">NEW</option>
                <option value="IN_PROGRESS">IN PROGRESS</option>
                <option value="PROCESSED">PROCESSED</option>
                <option value="ABORTED">ABORTED</option>
            </select>
        </div>
        <button class="button is-primary" type="submit">Update order</button>
    </form>
</div>
<script>
    document.querySelectorAll("#select > option").forEach((item) => {
        const isSelected = item.attributes.getNamedItem("value").value === "$order.getState()";
        if (isSelected) {
            item.setAttribute("selected", "selected");
        }
    });
</script>
#end
