#parse("base.html")
#@mainLayout()
<h1 class="title is-1">Dashboard</h1>
<div class="container">
    <button onclick="reload()" class="button is-primary">Refresh</button>
    <h2 class="title is-2">Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order number</th>
            </tr>
        </thead>
        <tbody>
            #foreach ($order in $orders)
            <tr>
                <td><a href="/orders/$foreach.count/employee">$foreach.count</a></td>
            </tr>
            #end
        </tbody>
    </table>
    <h2 class="title">History</h2>
    <div>
        <button class="button is-danger" onclick="executeAction('undo')">Undo</button>
        <button class="button is-primary" onclick="executeAction('redo')">Redo</button>
    </div>
    <ul>
        #foreach ($history_line in $history)
            #if ($historyIndex == ($foreach.count - 1))
                <li><strong>$history_line</strong></li>
            #else
                <li>$history_line</li>
            #end
        #end
    </ul>
</div>

<script>
    function reload() {
        document.location.reload(true);
    }
    async function executeAction(actionName) {
        await fetch(`/dashboard?action=${actionName}`);
        reload();
    }
</script>
#end
